In [ ]:
#Question 1: What is the northernmost airport in the United States?

In [10]:
import pandas as pd

data = 'https://raw.githubusercontent.com/tidyverse/nycflights13/main/data-raw/airports.csv'
data = pd.read_csv('airports.csv')

# Sort airport data based on latitude to display top 5 northernmost airports in North America
data.sort_values(['lat'], ascending = [False]).head(5)

,faa,name,lat,lon,alt,tz,dst
393,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5,A
217,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9,A
98,AIN,Wainwright Airport,70.638056,-159.994722,41,-9,A
674,K03,Wainwright As,70.613378,-159.860350,35,-9,A
140,ATK,Atqasuk Edward Burnell Sr Memorial Airport,70.467300,-157.436000,96,-9,A

In [ ]:
#Answer1: The northernmost airport in United States according to this dataframe is EEN Dillant Hopkins Airport. However, research demonstrates that this information is incorrect. The lattitude and longitute are transposed which makes BRW Wiley Post Will Rogers Memorial Airport the northernmost airport in the United States.

In [ ]:
#Question 2: What is the easternmost airport in the United States?

In [13]:
data.sort_values(['lon'], ascending = [False]).head(5)

      faa                           name        lat         lon   alt  tz dst
1237  SYA                   Eareckson As  52.712275  174.113620    98 -10   A
897   MYF               Montgomery Field  32.475900  117.759000    17  -8   A
372   DVT  Deer Valley Municipal Airport  33.411700  112.457000  1478  -7   A
393   EEN        Dillant Hopkins Airport  72.270833   42.898333   149  -5   A
419   EPM     Eastport Municipal Airport  44.910111  -67.012694    45  -5   A

In [ ]:
#Answer2: The easternmost airport in the United States is EPM Eastport Municipal Airport. The information in this dataframe has been confirmed on Google.com. The first 4 are not in the eastern timezone.

In [ ]:
#Question3: On February 12 2013, which New York airport had the windiest weather?

In [31]:
url_weather = 'https://raw.githubusercontent.com/tidyverse/nycflights13/6c38793cddb3ebf4eb8924c9ae9ee4922970b691/data-raw/weather.csv'
weather = pd.read_csv('weather.csv')
weather[weather.origin.isin(['JFK', 'LGA'])  & (weather.month == 2) & (weather.day == 12) & 
        (weather.year == 2013)].sort_values(['wind_speed'], ascending = [False]).head(10)
weather

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib
0,EWR,2013,1.0,1.0,0.0,37.04,21.92,53.97,230.0,10.35702,11.918651,0.0,1013.9,10.0
1,EWR,2013,1.0,1.0,1.0,37.04,21.92,53.97,230.0,13.80936,15.891535,0.0,1013.0,10.0
2,EWR,2013,1.0,1.0,2.0,37.94,21.92,52.09,230.0,12.65858,14.567241,0.0,1012.6,10.0
3,EWR,2013,1.0,1.0,3.0,37.94,23.00,54.51,230.0,13.80936,15.891535,0.0,1012.7,10.0
4,EWR,2013,1.0,1.0,4.0,37.94,24.08,57.04,240.0,14.96014,17.215830,0.0,1012.8,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8714,JFK,2013,9.0,2.0,20.0,75.20,73.40,94.14,200.0,4.60312,5.297178,0.0,NaN,4.0
8715,JFK,2013,10.0,23.0,10.0,48.92,39.02,68.51,60.0,4.60312,5.297178,0.0,1008.1,10.0
8716,JFK,2013,10.0,23.0,11.0,48.92,39.02,68.51,40.0,4.60312,5.297178,0.0,1008.5,10.0
8717,JFK,2013,12.0,17.0,5.0,26.96,10.94,50.34,40.0,4.60312,5.297178,0.0,1023.9,10.0
8718,LGA,2013,8.0,22.0,22.0,75.92,66.92,73.68,210.0,8.05546,9.270062,0.0,1011.9,10.0

In [ ]:
#Answer3: LGA LaGuardia Airport had the windiest weather with wind speeds of 23mph and wind gusts of 31mph.